# Build output
dist
# Dependencies
node_modules
Dockerfile
.dockerignore
.prettierignore
.prettierrc

# Config and lock files
package.json
tsconfig.json
yarn.lock
tsconfig.tsbuildinfo
# Environment files
.env
*.env

src/generated



# Generated folders
prisma
